{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
NOTE TO DEVELOPERS: welcome to Impact theme! We hope that you will enjoy editing this theme as much as we did for
  developing it. We have put a lot of work to make this theme as developer friendly as possible by offering you
  hooks to integrate into critical parts of the theme. You will find the complete technical documentation (including
  all events, dependencies...) in the "documentation.txt" file, located in the Assets folder.
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{% render 'direction' %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0">
    <meta name="theme-color" content="{{ settings.header_background }}">
    <meta http-equiv="cache-control" content="no-cache">

    <title>{% if page_title == blank %}{{ shop.name }}{% else %}{{ page_title }}{% if current_page != 1 %} &ndash; {{ 'general.page' | t: page: current_page }}{% endif %}{% endif %}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 96 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {%- endif -%}

    {%- comment -%}Few prefetch to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">

    {%- unless settings.heading_font.system? -%}
      <link rel="preload" href="{{ settings.heading_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.text_font.system? -%}
      <link rel="preload" href="{{ settings.text_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- render 'social-meta-tags' -%}
    {%- render 'microdata-schema' -%}
    {%- render 'css-variables' -%}
    {%- render 'js-variables' -%}

    <script src="{{ 'acc-set-up.js' | asset_url }}"></script>
    <script src="{{ 'acc-issues-helpers.js' | asset_url }}"></script>
    <script src="{{ 'acc-issues-functions.js' | asset_url }}"></script>
    <script src="{{ 'acc-list-of-issue-details.js' | asset_url }}"></script>
    <script src="{{ 'acc-issues.js' | asset_url }}"></script>
    <script type="module" src="{{ 'vendor.min.js' | asset_url }}"></script>
    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>
    <script type="module" src="{{ 'sections.js' | asset_url }}"></script>

    {{ content_for_header }}

    {{- 'theme.css' | asset_url | stylesheet_tag: preload: true -}}

    <style>
      cart-drawer form a {height: 100%; width: 100%; display: flex !important; align-items: center; justify-content: center;}

      .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .grid {
        display: grid;
        grid-template-columns: 3fr 2fr;
        min-height: 100vh;
      }
      .home-btn {
        font-size: 1.5em;
        font-weight: 500;
      }
      .steps {
        margin: 17px 0 26px;
        font-size: 0.75em;
      }
      .main-content {
        border-right: solid 1px rgba(0, 0, 0, 0.2);
        padding: 3em 4em 1em 4em;
        background: white;
      }
      div:has(.grid) {
        background: linear-gradient(90deg, white 50%, #ebebeb 50%);
      }

      .total {
        background-color: #ebebeb;
      }
      .arrow-checkout {
        width: 0.75em;
        height: 0.75em;
        font-size: 0.75em;
      }
      .steps .steps-cart,
      .to-cart-btn a,
      .to-cart-btn svg {
        fill: #8c720b;
        color: #8c720b;
      }
      .steps .steps-ship,
      .steps .steps-pay,
      .express-checkout,
      .express-checkout-title {
        color: #707070;
      }

      .express-checkout {
        text-align: center;
        font-size: 1.4rem;
      }

      .gpay-btn {
        width: 100%;
        height: 100%;
        background: black;
        box-shadow: none;
        border-radius: 5px;
        padding: 0;
      }

      #shop-pay-btn {
        height: 42px;
        box-shadow: none;
        background-color: #592ff4;
        border: 1px solid transparent;
        border-radius: 5px;
        color: white;
      }

      #shop-pay-btn svg {
        height: 20px;
      }

      #express-checkout-container div:has(.gpay-btn),
      #express-checkout-container div:has(#shop-pay-btn) {
        margin: 0 auto;
        width: 100%;
      }

      #express-checkout-container {
        display: flex;
        width: 100%;
        gap: 0.9rem;
        padding-top: 17px;
      }

      .express-checkout-title {
        margin: 0 auto;
        width: fit-content;
      }

      .separator-checkout {
        height: 53px;
        position: relative;
        color: #707070;
        mix-blend-mode: multiply;
      }

      .separator-checkout hr {
        position: absolute;
        margin: 0;
        top: 50%;
        width: 100%;
      }

      .separator-checkout span {
        padding: 0 1.4rem;
        background-color: white;
        z-index: 1;
      }

      .contact-checkout {
        margin-bottom: 27px;
      }

      .contact-checkout div:has(input) {
        display: flex;
        gap: .9em;
        width: 100%;
      }

      h2 {
        font-size: 1.1rem;
        font-weight: 600;
      }

      .contact-checkout span,
      .contact-checkout a,
      h2 {
        margin: 0 0 .5em 0;
      }

      .contact-checkout span,
      .contact-checkout a {
        display: block;
      }

      .contact-checkout a {
        text-decoration: underline;
        color: #8c720b;
        font-size: .9rem;
      }

      .shipping-checkout {
        display: grid;
        gap: .9rem;
      }

      .checkout-input-container {
        position: relative;
      }

      .checkout-input-label {
        position: absolute;
        top: 7px;
        left: 10px;
        font-size: 0.8em;
        color: #707070;
        z-index: 1;
      }

      .checkout-input-select,
      .checkout-input-text {
        padding: 27px 10px 7px;
        width: 100%;
        border: solid 1px #dedede;
        background: transparent;
        border-radius: 5px;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline-color: transparent;
        transition: .3s;
      }

      .checkout-input-text-compliment {
        padding: 17px 14px;
        width: 100%;
        border: solid 1px #dedede;
        background: transparent;
        border-radius: 5px;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline-color: transparent;
        transition: .3s;
      }

      .checkout-input-select-container,
      .checkout-input-text-container {
        position: relative;
      }

      .checkout-input-select-container svg,
      .checkout-input-text-container svg {
        position: absolute;
        height: 1em;
        top: 50%;
        transform: translateY(-50%);
        right: 0.8em;
        z-index: 0;
        fill: #707070;
      }

      .checkout-input-text:focus,
      .checkout-input-text-compliment:focus,
      .checkout-input-select:focus {
        outline-color: #8c720b;
        transition: .3s;
      }

      .checkout-input-inline-2 {
        display: grid;
        gap: 0.9rem;
        grid-template-columns: 1fr 1fr;
      }

      .checkout-input-inline-3 {
        display: grid;
        gap: 0.9rem;
        grid-template-columns: 1fr 1fr 1fr;
      }

      .checkout-info {
        display: flex;
        align-items: center;
        gap: .7em;
      }

      .checkout-info span {
        padding-bottom: .1em;
      }

      .checkout-bottom-btns-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 26px;
        height: 63px;
      }

      .to-cart-btn, .to-shipping-btn {
        width: fit-content;
      }

      .to-shipping-btn {
        height: 100%;
      }

      .to-shipping-btn:focus {
        box-shadow: 0 0 0 3px white, 0 0 0 5px black;
      }

      button:focus,
      .form-control:has(>:focus),
      .checkout-input-container:has(:focus),
      input[type=checkbox]:focus,
      input[type=radio]:focus,
      input[type=submit]:focus,
      ul:not(.social-media) a:focus,
      :not(li):not(h1):not(.product-card__figure) > a:focus,
      .product-card__figure:has(>a:focus),
      h1:has(:focus),
      .social-media li:has(a:focus),
      svg[aria-label]:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 4px black !important;
      }

      button:focus-visible,
      input:focus-visible,
      a:focus-visible,
      input:focus,
      .input:focus,
      .textarea:focus,
      .select:focus-visible {
        border-color: inherit !important;
        outline: none !important;
      }

      :focus-visible {
        outline:none;
      }

      .image-link-blocks > div,
      .panel__wrapper li,
      .scroll-area > .product-card,
      .scroll-area > .product-gallery__thumbnail {
        margin: 4px;
      }

      .to-shipping-btn > div {
        padding: 18px 20px;
        color: white;
        background-color: black;
        border-radius: 5px;
        display: flex;
        align-items: center;
      }

      .to-cart-btn svg {
        font-size: .7em;
        margin-right: 0.7em;
      }

      .total {
        padding: 67px 76.8px 21px 44px;
      }

      .price-summary-table-row {
        display: flex;
        justify-content: space-between;
        font-size: .9em;
        font-weight: 600;
        margin-top: 10px;
      }

      .price-summary-table-row .price-summary-header {
        font-weight: 400;
      }

      .price-summary-table-row:has(.header-total) {
        font-size: 1em;
        font-weight: 600;
      }

      .price-summary-table-row abbr {
        font-size: .7em;
        font-weight: 400;
      }

      .items-summary-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
      }

      .items-summary-row:has(div[role=columnheader]),
      .item-quantity, .total h3 {
        height: 0;
        width: 0;
        opacity: 0;
        pointer-events: none;
      }

      .item-description {
        font-weight: 500;
        font-size: .9em;
        padding-left: .9em;
        flex-grow: 1;
      }

      .item-summary-image-wrapper {
        position: relative;
        background: white;
        border: solid 1px #dedede;
        border-radius: 10px;
        height: 64px;
        width: 64px;
      }

      .item-summary-counter {
        position: absolute;
        top: -10px;
        right: -7px;
        border-radius: 40px;
        background: #707070;
        height: 20px;
        width: 20px;
      }

      .item-summary-counter p {
        margin: 0;
        color: white;
        font-size: 0.8em;
      }

      fieldset {
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
      }

      .fieldset-item:has(label[for="shipping_methods_economy"]),
      .fieldset-item:has(label[for="billing_address_same"]),
      .fieldset-item:has(label[for="credit_card_payment"]) {
        border-radius: 6px 6px 0 0;
      }

      .fieldset-item:has(label[for="shipping_methods_standard"]),
      .fieldset-item:has(label[for="billing_address_new"]),
      .fieldset-item:has(label[for="money_payment"]) {
        border-radius: 0 0 6px 6px;
      }

      .fieldset-item {
        border: solid 1px #dedede;
        background-color: transparent;
      }

      .fieldset-item:has(input:checked) {
        border: solid 1px #8c720b;
        background-color: rgb(255,245,228);
      }

      .fieldset-item label {
        display: flex;
        justify-content: space-between;
        align-items: start;
      }

      .fieldset-item > label {
        padding: 17px;
      }

      .fieldset-item .input-text {
        display: flex;
        align-items: start;
        gap: .9em;
      }

      .fieldset-item .input-text p {
        margin: 0;
      }

      .fieldset-item .input-text span {
        font-size: .8em;
        color: #707070;
      }

      input[type="radio"] {
        appearance: none;
        background-color: #fff;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid #dedede;
        border-radius: 50%;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
      }

      input[type="radio"]::before {
        content: "";
        width: 1em;
        height: 1em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
      }

      input[type="radio"]:checked::before {
        transform: scale(1);
        background: black;
        outline: solid 5px #8c720b;
        outline-offset: -4px;
      }

      section[aria-label=Review] > div {
        display: grid;
        padding: 11px 17px;
        border: solid 1px #dedede;
        border-radius: 4px;
      }

      .information-row {
        display: grid;
        grid-template-columns: 98px 1fr auto;
        gap: 30px;
      }

      .information-row div:has(span) {
        color: #707070;
      }

      section[aria-label=Review] hr {
        border: none;
        border-bottom: solid 1px #dedede;
        width: 100%;
        margin: revert !important;
      }

      section[aria-label=Review] a {
        text-decoration: underline;
        color: #8c720b;
        font-size: .9rem;
      }

      .main-content > div:has(section[aria-label=Review]) {
        display: grid;
        gap: 32px;
      }

      .steps span:has(svg) {
        padding: 0 6px;
      }

      .information-row div:has(span) {
        color: #707070;
      }

      label[for="billing_address_same"] .input-text,
      label[for="billing_address_new"] .input-text {
        align-items: center;
        font-size: .9em;
        font-weight: 500;
      }


      section[aria-label=Payment] fieldset p {
        margin: 0;
        font-size: .9em;
      }

      section[aria-label=Payment] > p,
      section[aria-label="Billing address"] > p {
        font-size: .9em;
        color: #707070;
      }

      .credit-card-info {
        display: none;
        height: 0px;
        overflow-y: hidden;
        opacity: 0;
        transition: .3s;
        background: white;
      }

      .credit-card-info .error-msg:empty {
        display: none;
      }

      .credit-card-info .error-msg:not(:empty) {
        display: block;
        padding: 14px;
        border-radius: 4px;
        color: rgb(248 58 58);
        background: rgb(254 231 231);
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
      }

      .fieldset-item:has(input:checked) .credit-card-info {
        display: grid;
        gap: 12px;
        height: fit-content;
        opacity: 1;
        transition: .3s;
      }

      .fieldset-item .input-radio {
        display: flex;
        align-items: center;
        gap: .9em;
      }

      .fieldset-item label div:has(img) {
        display: flex;
        align-items: center;
        gap: .9em;
        font-size: .9em;
      }

      .fieldset-item > .credit-card-info {
        padding: 17px;
      }

      .product-card__figure:has(:focus) .product-card__quick-buy {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }

    </style>
  </head>

  <body class="{% if settings.show_page_transition %}page-transition{% endif %} {% if settings.zoom_image_on_hover %}zoom-image--enabled{% endif %}">
    {%- render 'shadow-dom-templates' -%}

    {%- if request.page_type == 'index' -%}
      <div style="position: fixed; top:0; display:flex; align-items: center; height: 100vh; width: 100vw; z-index: 999; background: rgba(0,0,0,.6)">
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Noto+Emoji:wght@700&display=swap');
          .custom-popup {margin: 0 auto; background: white; max-width: 600px; padding: 16px 24px; position: relative; border-radius: 8px; width: 90%;display: none;}
          .custom-popup p {margin: revert;}
          .custom-popup h1 {text-align: center; font-size: 32px; font-weight: 900;}
          .custom-popup ul {padding: revert; list-style: initial;}
          .custom-popup a {text-decoration: revert; color: revert; }
          .custom-popup .link-list a {background: black; color:white; flex-grow: 1; text-align: center; padding: 8px 16px; border-radius: 100px; text-decoration: none;}
          .custom-popup .link-list {display: flex; justify-content: space-between; flex-wrap: wrap; column-gap: 24px; row-gap: 16px}
          .custom-popup .close-btn {position: absolute; top: 12px; right: 12px; font-family: 'Noto Emoji', sans-serif; text-decoration: none;}
        </style>
        <div class="custom-popup">
          <h1>DEMO SITE</h1>
          <a href='#' aria-label="Close warning" class="close-btn" onclick="closePopup(this)">❌</a>
          <p>Products Not for Sale</p>
          <p>This website is purely for the purpose of demonstrating digital accessibility errors -- that is, violations of the Web Content Accessibility Guidelines, version 2.1.  As such, it is highly inaccessible to any users of assistive technology.</p>
          <p>While the products featured here are certainly tempting, you should not buy them on this site.  However, you can buy them from the fine folks at <a href="https://www.masterdynamic.com/" target="_blank">Master & Dynamic</a>.</p>

          <div class="link-list">
            <a href="#" onclick="closePopup(this)">Enter Site</a>
<!--             <a href="#" onclick="window.close();">Close the page</a> -->
<!--             <a href="https://www.masterdynamic.com/" target="_blank">Go to Master & Dynamic</a> -->
          </div>
          <script>
            function trapFocus(element) {
              const focusableEls = element.querySelectorAll('a[href]:not([disabled]), button:not([disabled]), textarea:not([disabled]), input[type="text"]:not([disabled]), input[type="radio"]:not([disabled]), input[type="checkbox"]:not([disabled]), select:not([disabled])');
              const firstFocusableEl = focusableEls[0];
              const lastFocusableEl = focusableEls[focusableEls.length - 1];
              const KEYCODE_TAB = 9;

              element.addEventListener('keydown', function(e) {
                var isTabPressed = (e.key === 'Tab' || e.keyCode === KEYCODE_TAB);

                if (!isTabPressed) {
                  return;
                }

                if ( e.shiftKey ) /* shift + tab */ {
                  if (document.activeElement === firstFocusableEl) {
                    lastFocusableEl.focus();
                      e.preventDefault();
                    }
                  } else /* tab */ {
                  if (document.activeElement === lastFocusableEl) {
                    firstFocusableEl.focus();
                      e.preventDefault();
                    }
                  }
              });
            }
            trapFocus(document.querySelector('.custom-popup'));

            function closePopup(e) {
              if(e.key && e.key == 'Escape' || e.className === 'close-btn'  || e.innerText === 'Enter Site') {
                document.querySelector('.custom-popup').parentElement.remove();
                localStorage.setItem('firstAccess', false);
              }
            }
          </script>
        </div>
      </div>
    {%- endif -%}

    <a href="#main" class="skip-to-content sr-only">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {%- if request.page_type != 'password' -%}
      {%- sections 'header-group' -%}
      {%- sections 'overlay-group' -%}

      {%- if settings.cart_type == 'popover' -%}
        <cart-notification-drawer open-from="bottom" class="quick-buy-drawer drawer"></cart-notification-drawer>
      {%- endif -%}
    {%- endif -%}

    {%- if request.page_type == 'customers/account' or request.page_type == 'customers/order' or request.page_type == 'customers/addresses' -%}
      {%- section 'account-banner' -%}
    {%- endif -%}

    <main role="main" id="main" class="anchor">
      {{ content_for_layout }}

      {%- comment -%}
      IMPLEMENTATION NOTE: due to the very complex logic of margin/padding collapsing in Impact, the footer group is
      added into the main element to ensure that dynamic sections added into the footer group are properly laid out.
      {%- endcomment -%}
      {%- if request.page_type != 'password' -%}
        {%- sections 'footer-group' -%}
      {%- endif -%}
    </main>

    <div class="info-cart" style="display:none">
      <div class="info">
        <span>{{ customer.name }}</span>
        <span>{{ customer.email }}</span>
      </div>

      <div class="address">
      {%- for address in customer.addresses -%}
        <div>
          <span class="address-province-code">{{ address | format_address }}</span>
          <span class="address-country">{{ address.country }}</span>
          <span class="address-province">{{ address.province }}</span>
          <span class="address-city">{{ address.city }}</span>
          <span class="address-zip">{{ address.zip }}</span>
          <span class="address-name">{{ address.name }}</span>
          <span class="address-street">{{ address.address1 }}</span>
          <span class="address-company">{{ address.company }}</span>
        </div>
      {%- endfor -%}
      </div>

      {%- for line_item in cart.items -%}
        <div class="cart-item">
          <div class="cart-item-img">{{- line_item.image | image_url: width: line_item.image.width | image_tag: loading: 'lazy', sizes: '(max-width: 740px) 80px, 96px', widths: '80,96,160,192', class: 'line-item__media rounded-xs' -}}</div>
          <div class="cart-item-title">{{ line_item.product.title }}</div>
          <div class="cart-item-quantity">{{ line_item.quantity }}</div>
          <div class="cart-item-final-price">{{ line_item.final_line_price | money }}</div>
        </div>
      {%- endfor -%}
      <span class="cart-total-price">{{- cart.total_price | money_with_currency -}}</span>
    </div>
  </body>
</html>
